/* Contenedor principal */
.container {
  width: 100%;
  max-width: 1280px;
  margin-left: auto;
  margin-right: auto;
}

/* Base del Grid */
.grid {
    padding-left: var(--space-md);
    padding-right: var(--space-md);
  display: grid;
  grid-template-columns: repeat(12, 1fr); /* 12 columnas iguales */
  gap: var(--space-md); /* Usa tu variable de espacio */
}

/* Utilidades de columnas (Responsivas) */
.col-12  { grid-column: span 12; }
.col-11  { grid-column: span 11; }
.col-10  { grid-column: span 10; }
.col-9   { grid-column: span 9; }
.col-8   { grid-column: span 8; }
.col-7   { grid-column: span 7; }
.col-6   { grid-column: span 6; }
.col-5   { grid-column: span 5; }
.col-4   { grid-column: span 4; }
.col-3   { grid-column: span 3; }
.col-2   { grid-column: span 2; }


@media (max-width: 768px) {
  .grid {
    grid-template-columns: repeat(1, 1fr);
  }
  
  [class*="col-"] {
    grid-column: span 1 !important;
  }
}

@media (max-width: 768px) {
  .grid {
    grid-template-columns: repeat(1, 1fr);
  }
  
  [class*="col-"] {
    grid-column: span 1 !important;
  }
}